footer {
    padding: 20px;
    margin: 2px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;

}

footer .mapa,
footer .redes,
footer .mapa h4 {
    padding-bottom: 5px;
}

footer .redes a {
    color: #4d4646;
    text-decoration: none;
}

footer .redes a img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 5px;
}